<header class="main-header">
  <div class="header-container">
    <a href="{{ site.github.url }}/" class="logo">
      <h1 class="hide">Fitchburg</h1>
      <img src="{{ site.github.url }}/assets/img/all/logo.svg">
    </a>
<!--     <nav class="header-nav" id="nav">
      <a href="{{ site.github.url }}/" class="first-selected">Games</a>
      <a href="{{ site.github.url }}/events/">Events</a>
      <a href="{{ site.github.url }}/about/">About</a>
      <a href="{{ site.github.url }}/portfolios/">Portfolios</a>
    </nav>
 -->
    <nav class="header-nav" id="nav">
      <a href="{{ site.github.url }}/about/">About</a>
      <a href="{{ site.github.url }}/games/">Game Design</a>
      <a href="{{ site.github.url }}/" id="nav-btn" class="first-selected">Concentrations</a>
      <ul class="desktop-only nav-dropdown">
        <li><a href="{{ site.github.url }}/film-video/">Film/Video</a></li>
        <li><a href="{{ site.github.url }}/graphic-design/">Graphic Design</a></li>
        <li><a href="{{ site.github.url }}/photography/">Photography</a></li>
        <li><a href="{{ site.github.url }}/professional-communications/">Professional<br> Communications</a></li>
        <li><a href="{{ site.github.url }}/theater/">Theater</a></li>
        <li><a href="{{ site.github.url }}/technical-theater/">Technical Theater</a></li>
      </ul>
    </nav>
  </div>
</header>
