<header class="main-header">
  <div class="header-container">
    <a href="/" class="logo">
      <h1 class="hide">Fitchburg</h1>
      <img src="/assets/img/all/logo.svg">
    </a>
    <nav class="header-nav" id="nav">
      <a href="/" class="first-selected">Games</a>
      <a href="/events/">Events</a>
      <a href="/about/">About</a>
      <a href="/portfolios/">Portfolios</a>
    </nav>

<!--     <nav class="header-nav" id="nav">
      <a href="/about/">About</a>
      <a href="/games/">Game Design</a>
      <a href="/" id="nav-btn" class="first-selected">Concentrations</a>
      <ul class="desktop-only nav-dropdown">
        <li><a href="/film-video/">Film/Video</a></li>
        <li><a href="/graphic-design/">Graphic Design</a></li>
        <li><a href="/photography/">Photography</a></li>
        <li><a href="/professional-communications/">Professional<br> Communications</a></li>
        <li><a href="/theater/">Theater</a></li>
        <li><a href="/technical-theater/">Technical Theater</a></li>
      </ul>
    </nav>
 -->  </div>
</header>
