
.main-header {
  width: 100%;
  background: $background-color;
  font-size: 2rem;
}

.header-container {
  max-width: calc(#{$max-width} - #{$double-space});
  width: calc(100% - #{$double-space});
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: $spacing-unit 0;
}

.ie .header-container {
  display: block;
  clear: both;
}

.logo {
  display: inline-block;
  margin-right: auto;
  max-width: 50%;
  border-bottom: none;

  img {
    max-height: 50px;
    margin: auto;
  }
}

.ie .logo {
  float: left;
}

.header-nav {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-left: auto;
  text-align: right;
}

.ie .header-nav {
  float: right;
  width: auto;
  max-width: 70%;
}

.ie .header-container:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.nav-dropdown {
  display: inline-block;
  z-index: 100;
  right: -$half-space;
  top: 3.5rem;
  position: absolute;
  list-style: none;
  height: 0;
  overflow: hidden;
  margin: 0;
}

.nav-dropdown.open {
  height: auto;
  background: $background-color;
  -webkit-box-shadow: 0 3px $accent-color;
          box-shadow: 0 3px $accent-color;
}

.nav-dropdown li {
  font-size: 0.8em;
  padding: calc(#{$half-space} / 2) $half-space;
  margin-top: $half-space;
}

.nav-dropdown li:last-child {
  padding-bottom: $half-space;
}

.header-nav a {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border-bottom: 3px solid transparent;
}

.header-nav > a {
  margin-left: $spacing-unit;
}

.header-nav a:link,
.header-nav a:visited,
.header-nav a:hover,
.header-nav a:active {
  color: $primary-color;
}

.header-nav a:hover, .header-nav .selected {
  border-bottom-color: $accent-color;
}

footer {
  margin: $double-space auto 0;
  text-align: center;
  color: #D4D4D4;
}

footer a:link, footer a:visited { color: #D4D4D4; border-bottom: none; }
footer a:hover, footer a:active { color: #D4D4D4; border-bottom: none; }

.ie footer {
  clear: both;
}

.footer-bottom {
  height: $spacing-unit;
  width: 100%;
  background: transparent;
}

#lightbox {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;

    &.zoomed-out {
      height: auto;
      max-height: 98vh;
      width: auto;
      max-width: 98vw;
    }

    &.zoomed-in {
      height: 100%;
      width: 100%;
    }
  }

  button {
    z-index: 3;
    background: none;
    padding: $half-space;
    margin-left: $half-space;
    margin-top: $half-space;
    border: none;
    color: #fff;
    font-size: 2em;
  }
}

.lightbox-hidden {
  display: none;
  visibility: hidden;
}

.lightbox-visible {
  display: block;
  visibility: visible;
}

.wrapper {
  max-width: $max-width;
  width: calc(100% - #{$double-space});
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-unit;
}

.inner-content {
  max-width: 720px;
  width: 100%;

}

.wrapper.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ie .wrapper.items {
  display: block;
  clear: both;
}

.ie .wrapper.items::after {
  content: '';
  clear: both;
}

.card {
  background: $background-color;
  padding: $spacing-unit;
  margin-bottom: $spacing-unit;
  position: relative;
}

.event-content {
  margin-top: $double-space;
}

.title, h1, h2, h3, h4, h5, nav {
  color: $primary-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.title {
  position: relative;
  text-decoration: none;
  border-bottom: none;

  &::after {
    content: '';
    left: .5em;
    bottom: 0;
    position: absolute;
    width: 70%;
    border-bottom: 2px solid $accent-color;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 2;
  }

  &:hover::after {
    width: calc(100% - 1em);
  }

  &.title-gallery {
    font-size: 1.65em;
    max-width: calc(100% - #{$spacing-unit});
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.title-page {
    display: inline-block;
    max-width: 100%;
    padding-bottom: $half-space;
    margin-bottom: $half-space;
    margin-top: 0;

    &::after {
      left: 0;
      border-width: 4px;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &.title-inset {
    position: absolute;
    left: $half-space;
    top: -1em;
    background: $background-color;
    padding: $half-space;
    margin: 0;

    &::after {
      left: $half-space;
    }

    &:hover::after {
      width: calc(100% - #{$spacing-unit});
    }
  }
}



.project-item {
  position: relative;
  background: $background-color;
  margin: 0 auto $spacing-unit;
  width: calc(50% - #{$half-space});
}

.ie .project-item {
  float: left;
}

.project-item.with-btn {
  margin-bottom: 68px;
}

.ie .project-item.with-btn {
  margin-bottom: $spacing-unit;
}

.main-desc {
  position: relative;
  margin: $spacing-unit;
}

.project-item .main-desc p {
  padding: 0;
  margin-top: 2.5rem;
  padding-bottom: 2rem;
}

.project-item .image {
  position: relative;
  overflow: hidden;

  > img {
    width: 100%;
  }
}

.project-item .image .gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: $half-space;
  padding-top: $half-space;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.project-item .image:hover .gallery {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.project-item .image .gallery img {
  width: 40%;
  float: left;
  padding-right: 4px;
  padding-bottom: 4px;
}

.desc {
  position: relative;
}

.main-desc .title {
  font-size: 48px;
  overflow: visible;
  margin: 0;
}

.project-item p {
  padding: $spacing-unit;
  padding-top: $double-space;
  margin: 0;
}

.archive-container {
  width: 100%;
  text-align: center;
  margin-top: $double-space;
  padding-bottom: calc(#{$double-space} + #{$spacing-unit});
}

.btn {
  padding: 0.75em;
  font-weight: bold;
  font-size: 1.375em;
  background: $primary-color;
  text-decoration: none;
}

.with-btn .btn {
  position: absolute;
  bottom: -1.5rem;
  left: $spacing-unit;
  display: inline-block;
}

.btn.btn-archive {
  margin: auto;
  text-align: center;
}

.btn:link, .btn:visited { color: #fff; }
.btn:hover, .btn:active { color: #eee; }
.btn:active { background: #043F2E; }

/* # responsive rules */

@media only screen and (max-width: 375px) {

}

/* ## small screens */
@media only screen and (max-width: 667px) {
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: $half-space 0;
  }

  .main-header .logo {
    margin: auto;
    margin-bottom: $half-space;
    max-width: 80%;
  }

  .main-header {
    font-size: 1.3rem;
  }

  .header-container {
    /* flex-direction: column;*/
    padding: $half-space 0;
  }

  .logo {
    margin-bottom: $half-space;
  }

  .ie .logo, .ie .header-nav {
    float: none;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .header-nav {
    text-align: center;
  }

  .header-nav > a {
    margin-left: $half-space;
  }

  .header-nav > a:first-child {
    margin-left: 0;
  }

  .project-item .desc .title {
    font-size: 1.3rem
  }

  .main-desc .title {
    font-size: 1.7rem
  }

  .wrapper {
    max-width: $max-width;
    width: calc(100% - #{$spacing-unit});
    margin-top: $half-space;
  }

  .project-item {
    position: relative;
    background: $background-color;
    margin: 0 auto $half-space;
    width: 100%;
  }

  .project-item.with-btn {
    margin-bottom: 48px;
  }

}



/* ## tablets and small screens */
@media only screen and (min-width: 668px) and (max-width: 960px) {
  .main-header {
    font-size: 1.5rem;
  }

  .header-nav {
    text-align: right;
  }

  .header-container {
    width: calc(100% - #{$spacing-unit});
  }

  .ie .logo {
    max-width: 30%;
  }

  .wrapper {
    width: calc(100% - #{$spacing-unit});
    margin-top: $half-space;
  }

  .title {
    font-size: 1.5rem
  }

  .main-desc .title {
    font-size: 2.4rem
  }

  .project-item {
    width: calc(50% - (#{$half-space} / 2));
  }

  .ie .project-item {
    margin-bottom: $half-space;
  }

  .project-item:nth-child(2n - 1) {
    margin-left: auto;
    margin-right: 0;
  }

  .project-item:nth-child(2n) {
    margin-right: auto;
    margin-left: $half-space;
  }

  .ie .project-item:nth-child(2n) {
    margin-left: 0;
  }

  .ie .project-item:nth-child(2n - 1) {
    margin-left: $half-space;
  }


  .ie .project-item.with-btn {
    width: 100%;
    margin-left: 0;
    margin-bottom: $double-space;
  }

  .x3 {
    .title {
      font-size: 1.2em;
    }

    .project-item.with-btn .title {
      font-size: 1.7rem;
    }
  }




}

@media only screen and (max-width: 960px) {
  .mobile-only {
    display: initial !important;
  }
  .desktop-only {
    display: none !important;
  }
}



/* ## normal screens */
@media only screen and (min-width: 960px) {
  .desktop-only {
    display: initial !important;
  }

  .mobile-only {
    display: none !important;
  }

  .project-item:nth-child(2n) {
    margin-left: auto;
    margin-right: 0;
  }

  .project-item:nth-child(2n - 1) {
    margin-left: 0;
    margin-right: auto;
  }

  .ie .project-item:nth-child(2n) {
    margin-left: $spacing-unit;
    margin-right: 0;
  }

  .ie .project-item:nth-child(2n - 1) {
    margin-left: 0;
    margin-right: 0;
  }

  .x3 {
    .project-item {
      width: calc((100% / 3) - 5px - #{$half-space});

      .title {
        font-size: 1.3em;
      }
    }

    .project-item:nth-child(3n - 1) {
      margin-left: 0;
      margin-right: auto;
    }

    .project-item:nth-child(3n) {
      margin-left: auto;
      margin-right: auto;
    }

    .project-item:nth-child(3n - 2) {
      margin-left: auto;
      margin-right: 0;
    }

    .project-item .main-desc p {
      -webkit-column-count: 2;
              column-count: 2;
      -webkit-column-gap: $double-space;
              column-gap: $double-space;
      -webkit-column-rule: dotted 1px #DDDAD4;
              column-rule: dotted 1px #DDDAD4;
    }

    .project-item.with-btn {
      width: 100%;
      margin-bottom: $double-space;

      .title {
        font-size: 2.25em;
      }
    }

  }

  .ie {
    .x3 {
      .project-item:nth-child(3n - 1) {
        margin-right: $spacing-unit;
        margin-left: 0;
      }

      .project-item:nth-child(3n) {
        margin-right: $spacing-unit;
        margin-left: 0;
      }

      .project-item:nth-child(3n - 2) {
        margin-left: 0;
        margin-right: 0;
      }

      .project-item:first-child {
        width: 100%;
        margin-left: 0 !important;
      }
    }
  }


}
