---
---

$text-color: #031812;
$background-color: #F2F1EF;

$primary-color: #0A4A38;
$accent-color: #FDC43B;
$error: #de3535;
$success: #d5f5d7;

$spacing-unit: 28px;

$max-width: 1200px;


@import "base";
@import "main";
@import "project";
