<!DOCTYPE html>
<!--[if lt IE 9]>
<html class="no-js ie">
<script src="/assets/js/html5shiv.js"></script>
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}

	<body>
		<!--[if lte IE 9]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser, and you are putting your security at risk by doing so. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience. <a href="https://www.microsoft.com/en-us/windowsforbusiness/end-of-ie-support">For more information, visit Microsoft's official announcement on the end of support of old versions of Internet Explorer</a></p>
		<![endif]-->

    {% include header.html %}

		{{ content }}


    <!-- {% include footer.html %} -->


    <div id="lightbox" class="lightbox-hidden">
      <img id="lightbox-img" src="#!">
      <button id='lightbox-left'>←</button>
      <button id='lightbox-right'>→</button>
      <button id='lightbox-close'>╳</button>
    </div>


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type="text/javascript" src="{{ site.github.url }}/assets/js/scripts.js"></script>
	</body>
</html>

