---
layout: default
---

<main class="wrapper items {% if page.full_width %} x3 {% endif %}">
  <div class="project-item {% if page.read_more %} with-btn {% endif %}">
    <div class="main-desc">
      <h1 class="title title-page">{{ page.title }}</h1>
      <p>
        {{ page.content | strip_html }}
      </p>
    </div>
    {% if page.read_more %}
    <a href="{{ page.read_more }}" class="btn">Read More</a>
    {% endif %}
  </div>

  {% assign col = page.col | downcase %}
  {% for item in site[col] reversed %}
  {% if item.featured == page.displayfeatured or page.displayfeatured == false and item.featured == nil %}
    <div class="project-item">
      <div class="image">
        {% if item.main_image != "placeholder.png" %}
        <img src="{{ site.github.url }}/assets/img/{{ page.col }}/{{ item.main_image }}">
        {% else %}
        <img src="{{ site.github.url }}/assets/img/all/{{ item.main_image }}">
        {% endif %}
        {% if item.images %}
        <div class="gallery">
        {% for image in item.images limit:4 %}
          <img src="{{ site.github.url }}/assets/img/all/placeholder.png" data-img="{{ site.github.url }}/assets/img/{{ page.col }}/{{ image }}">
        {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="desc">

      {% if item.ext_url %}
        {% assign url = item.ext_url %}
      {% else %}
        {% assign url = item.url %}
      {% endif %}

        <a href="{{ site.github.url }}/{{ url | remove_first: '/' }}" class="title title-gallery title-inset">{{ item.title }}</a>
        <p>
          {{ item.excerpt | remove: '<p>' | remove: '</p>' }}
        </p>
      </div>
    </div>
  {% endif %}
  {% endfor %}

  {% if page.displayfeatured %}

  <div class="archive-container"><a class="btn btn-archive" href="/archive/">View More</a></div>

  {% endif %}
</main>

<script type="text/javascript" src='{{ site.github.url }}/assets/js/gallery.js'></script>
